.nav{
	grid-column: 1;
	grid-row: 1/11;
	justify-self: start;
	width: 60px;
	height: 96vh;
	background-color: $ocean-green;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	padding: 2vh 0;

	@media screen and (max-width: 992px){
		grid-column: 1/11;
		grid-row: 1;
		background-color: $ocean-green;
		display: flex;
		width: 100%;
		height: 60px;
	}

	&__icons{
		display: flex;
		flex-flow: column wrap;
		align-items: center;
		justify-content: space-between;
		z-index: 300;

		@media screen and (max-width: 992px){
			display: none;
		}
	}

	&__text{
		transform: rotate(-90deg);
		font-family: $PlayfairDisplay;
		font-size: 22px;
		font-weight: 900;
		text-align: center;
		color: $greenish-beige;
	}

	&__name{
		font-family: $PlayfairDisplay;
		font-size: 60px;
		font-weight: 900;
		color: $greenish-beige;
		text-decoration: none;

		&:hover{
			color: $baby-green;
		}

		&:active{
			color: $dark-mint;
		}
	}

	&__link{
		list-style: none;
		text-align: center;
	}

	&__github{
		margin-bottom: 30%;
	}
}

label .menu {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 60px;
	height: 60px;
	background: $ocean-green;
	border-radius: 50% 50% 50% 50%;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	box-shadow: 0 0 0 0 $ocean-green, 0 0 0 0 $ocean-green;
	cursor: pointer;

	@media screen and (max-width: 992px){
		left: 90%;
		top: 30px;
		width: 60px;
		height: 60px;
	}
}

label .hamburger {
	position: absolute;
	top: 27px;
	right: 15px;
	width: 30px;
	height: 2px;
	background: #000;
	display: block;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;

	@media screen and (max-width: 992px){
		width: 60px;
		top: 50px;
	}

}

label .hamburger:after, label .hamburger:before {
	-webkit-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
	box-shadow: 0 0 0 100vw $ocean-green, 0 0 0 100vh $ocean-green;
	border-radius: 0;
}

label input:checked + .menu .hamburger {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

label input:checked + .menu .hamburger:after {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	bottom: 0;
}

label input:checked + .menu .hamburger:before {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	top: 0;
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
	z-index: 200;
	position: absolute;
	top: 50%;
	margin-left: 50vw;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
	-webkit-transition: .25s 0s ease-in-out;
	transition: .25s 0s ease-in-out;
}