.about{
	display: grid;
	grid-template-rows: repeat(7,1fr);
	grid-template-columns: repeat(10, 1fr);
	overflow: hidden;

	&__heading{
		grid-row: 1/2;
		grid-column: 2/3;
		align-self: end;
		margin: 0;
		font-family: $PlayfairDisplay;
		color: $dark-grey-blue;
		font-size: 24px;
		font-weight: 900;
	}

	&__text{
		grid-row: 2/5;
		grid-column: 2/6;
		text-align: justify;
		font-family: $railway;
		font-size: 18px;
		font-weight: 500;

	}

	&__bigborder{
		grid-row: 1/11;
		height: 100vh;
		grid-column: 7/9;
	}

	&__smallborder{
		grid-row: 1/11;
		height: 100vh;
		grid-column: 7/9;
		margin-left: 50px;
	}

	&__matthijs{
		grid-column: 7/11;
		grid-row: 1/11;
		height: 100vh;
		justify-self: stretch;
		padding-left: 50px;
	}

	&__overlay{
		grid-column: 7/11;
		grid-row: 1/8;
		height: 100vh;
		background-color: rgba(67, 151, 117, 0.5);
		margin-left: 50px;
	}

	//&__overlay{
	//	grid-column: 7/11;
	//	grid-row: 1/8;
	//	height: 100vh;
	//	display: grid;
	//	grid-template-rows: repeat(12,1fr);
	//	grid-template-columns: repeat(12,1fr);
	//}

	//&__topleft{
	//	-webkit-clip-path: polygon(0 0, 100% 0, 59% 100%, 45% 100%);
	//	clip-path: polygon(0 0, 100% 0, 59% 100%, 45% 100%);
	//	background-color: rgba(67, 151, 117, 0.7);
	//	grid-column: 2/8;
	//	grid-row: 1/7;
	//
	//}
	//
	//&__topright{
	//	-webkit-clip-path: polygon(37% 0, 100% 0, 100% 100%, 6% 100%);
	//	clip-path: polygon(37% 0, 100% 0, 100% 100%, 6% 100%);
	//	background-color: rgba(67, 151, 117, 0.5);
	//	grid-column: 5/13;
	//	grid-row: 1/7;
	//
	//}
	//
	//&__bottomleft{
	//	-webkit-clip-path: polygon(45% 0, 55% 0, 100% 100%, 0 100%);
	//	clip-path: polygon(45% 0, 55% 0, 100% 100%, 0 100%);
	//	background-color: rgba(67, 151, 117, 0.5);
	//	grid-column: 2/8;
	//	grid-row: 7/13;
	//
	//}
	//
	//&__bottomright{
	//	-webkit-clip-path: polygon(4% 0, 100% 0, 100% 100%, 37% 100%);
	//	clip-path: polygon(5% 0, 100% 0, 100% 100%, 37% 100%);
	//	background-color: rgba(67, 151, 117, 0.7);
	//	grid-column: 5/13;
	//	grid-row: 7/13;
	//
	//}


	&__arrow{
		grid-row: 1/11;
		grid-column: 7/9;
		width: 0;
		height: 0;
		border-top: 50vh solid transparent;
		border-bottom: 50vh solid transparent;
		border-left: 23vh solid white;
		margin-left: 50px;
	}

	&__skills{
		grid-column: 2/4;
		grid-row: 5;
		margin: 0;
		font-family: $PlayfairDisplay;
		font-size: 24px;
		font-weight: 900;
		align-self: end;
	}

	&__skillicons{
		grid-row: 6/11;
		grid-column: 2/6;
		margin-top: 30px;
		display: inline-block;
	}

}

.icon{
	height: 70px;
	width: 70px;
}