$baby-green: #82ff9e;
$dark-mint: #48bf84;
$greenish-beige: #d0db97;
$ocean-green: #439775;
$dark-grey-blue: #2a4747;
$white: #fff;

$PlayfairDisplay: 'Playfair Display', serif;
$railway: 'Raleway', sans-serif;